<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.socioboard.iboardpro"
    android:versionCode="25"
    android:versionName="1.2.0">

    <uses-sdk
        tools:overrideLibrary="com.google.android.gms.play_services"

        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <permission
        android:name="com.socioboard.iboardpro.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.socioboard.iboardpro.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.socioboard.iboardpro.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.socioboard.iboardpro.WelcomeActivity" >
        </activity>
        <activity android:name="com.socioboard.iboardpro.Blankscheduleactivity" >
        </activity>

        <receiver android:name="com.socioboard.iboardpro.SchedulerCustomReceiver" />
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.socioboard.iboardpro" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.socioboard.iboardpro.MyCustomReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.socioboard.iboardpro.UPDATE_STATUS" />
            </intent-filter>
        </receiver>

        <!-- AppNext -->
        <receiver
            android:name="com.appnext.appnextsdk.ReferralReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" >
        </activity>
    </application>

</manifest>